
html, body {

color: #003366;
font-family: Arial;
background-color: #b0e0e6;

}

p.small{
font-size: small;
}

img.center {
    display: block;
    margin: 0 auto;
}

img.image_rot {
    /*background: url(arrow.png) no-repeat;*/
    width:800px; height:400px;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

/*to get rd of underline on link*/
a:link{ text-decoration: none;
    color:#0077BE;
}

a:visited{text-decoration: none;
        color: #4682B4;
}

#container {
  height: 500px;
  width: 1600px;
  position: relative;
}
#image {
  position: absolute;
  left: 0;
  top: 0;
}
#text {
  z-index: 100;
  position: absolute;
  color: white;
  font-size: 36px;
  font-weight: bold;
  left: 20px;
  top: 10px;
  font-family: Futura, Arial;
}

h1.country{font-family: Futura, Arial;
		  font-size: 4em;
		  text-align: center;
		  padding-top: 20px;
		  padding-bottom: 20px;
		  }



